<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="module1-suite" parallel="methods" thread-count="2"
       configfailurepolicy="continue">
    <test name="module1-test">
        <classes>
            <class name="com.sriwin.automation.Module1Test"></class>
        </classes>
    </test>
</suite>