<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="module2-suite" parallel="methods" thread-count="2"
       configfailurepolicy="continue">
    <test name="module2-test">
        <classes>
            <class name="com.sriwin.automation.Module2Test"></class>
        </classes>
    </test>
</suite>